{% extends 'base.html' %}  <!-- Assuming you have a base template -->
{% load crispy_forms_tags %}

{% block style %}
<style>

    body, html {
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .center-container {
        width: 50%; /* Adjust the width as needed */
    }
    .custom-width{
      width: 20%;
      box-shadow:  20px 20px 10px gray;
      background: rgb(233 233 233)
    }
    </style>
    {% endblock %}

{% block login %}
<div class="custom-width p-4">
    <form method="post" action="">
        <div class="text-center m-3"><h3>Student Login</h3></div>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center"><button type="submit" class="btn btn-info btn-md">Login</button></div>
    </form>
        <div class="mt-2">
            <div class="d-flex justify-content-center links">
                Don't have an account? <a href="{% url 'student:student_registration' %}" class="ml-2">Sign Up</a>
            </div>
        </div>
        <div class="mt-1">
            <div class="d-flex justify-content-center links">
                <a href='{% url "home" %}'> Back to Home </a>
            </div>
        </div>
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
</div>
{% endblock %}