{% extends 'base.html' %}  <!-- Assuming you have a base template -->
{% load crispy_forms_tags %}

{% block style %}
<style>

    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .center-container {
        width: 50%; /* Adjust the width as needed */
    }
    </style>
    {% endblock %}

{% block login %}
<form method="post" action="">
        <h2>Student Login</h2>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Login</button>
    </form>
    
{% endblock %}